.projects {
    background: rgb(9,5,74);
    background: linear-gradient(-500deg, rgb(5, 29, 74) 0%, rgba(34,198,196,1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4px
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-text{
    color: white
}

.img-style {
    width: 25em;
    padding: 20px
}

.body-style {
    margin: 10px 
}
.card-tools {
    width: 5em
}
.btn-style {
    margin-top: 20px
}