.about {
    background: rgb(9,5,74);
    background: linear-gradient(-20deg, rgb(14, 60, 90) 0%, rgb(41, 129, 141) 40%, rgb(84, 156, 36) 100%);
    height: calc(100vh - 20px)

}

.topbar{
    width: 100%;
    background: rgba(0, 255, 255, 0.68);
    height: 50px
}

.topbar-text {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    color: white;
}

.topbar-btn {
    filter: drop-shadow(0px 0px 5px rgba(31, 29, 16, 0.5));
    margin-left: 60px;

}

.topbar-btn:hover {
    text-decoration:none; 
    opacity:0.6;
    -webkit-transition: opacity .3s linear; 
    -moz-transition: opacity .3s linear; 
    -ms-transition: opacity .3s linear; 
    -o-transition: opacity .3s linear; 
    transition: opacity .3s linear;
}

.profile{
    height:30rem;
    border-radius: 30px;
}

h2 {
    color: var(--white-text);
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.about-text {
    color: var(--white-text);
    font-size: 20px;
    justify-content: center;
    padding-top: 20px;
    width: 70vw;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: row;
}
