.contact {
    background: rgb(30,74,5);
    background: linear-gradient(-2deg, rgb(10, 100, 48) 0%, rgb(71, 172, 197) 100%);
    margin-top: 4px;
}

.contact-btns {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}
