#hero {
    width: 100%;
    height: auto
}

.box {
    background-image: linear-gradient(30deg, rgba(0, 148, 233, 0.5) 0%, rgba(73, 133, 98, 0.5) 50%, #283a2a 100%);
    width: 30%;
    height: 100%;
    position:absolute;
    top: 0;
    margin-left: 60vw;
    margin-right: 15px;
}

#logo {
    filter: drop-shadow(0px 0px 10px rgba(31, 29, 16, 0.5));
    height: 400px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Stalemate', cursive;
    font-size: 75px;
    color: var(--white-text);
    filter: drop-shadow(0px 0px 10px rgba(31, 29, 16, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--white-text);
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
}

a:hover {
    text-decoration:none; 
    opacity:0.6;
    -webkit-transition: opacity .3s linear; 
    -moz-transition: opacity .3s linear; 
    -ms-transition: opacity .3s linear; 
    -o-transition: opacity .3s linear; 
    transition: opacity .3s linear;
}

