#hero {
    width: 100%;
    height: 100vh;
}

.box {
    background-image: linear-gradient(30deg, rgba(0, 148, 233, 0.5) 0%, rgba(73, 133, 98, 0.5) 50%, #283a2a 100%);
    width: 25vw;
    height: 100%;
    position:absolute;
    top: 0;
    margin-left: 60vw;
}

#logo {
    filter: drop-shadow(0px 0px 10px rgba(31, 29, 16, 0.5));
    max-height: 25vw;
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 30px;

}

h1 {
    font-family: 'Stalemate', cursive;
    font-size: 4.5vw;
    text-align: center;
    color: var(--white-text);
    filter: drop-shadow(0px 0px 10px rgba(31, 29, 16, 0.5));
}

a {
    color: white;
    text-decoration: none;
}


.nav-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--white-text);
    text-decoration: none;
    filter: drop-shadow(7px 5px 7px rgba(24, 22, 12, 0.808));
    font-size: 30px;
    margin-bottom: 20px;
}

.nav-btn:hover {
    text-decoration:none; 
    opacity:0.6;
    -webkit-transition: opacity .3s linear; 
    -moz-transition: opacity .3s linear; 
    -ms-transition: opacity .3s linear; 
    -o-transition: opacity .3s linear; 
    transition: opacity .3s linear;
}

